<!DOCTYPE html>
<html>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <head>
        <title>FirstClassCoding Login</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <style>
        .main-table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
        width: 100%;
        }
    </style>

    <body class="mainbg">

        <div class="blue-bg master-head">
            <img src="FirstClassCoding_LOGO.png" class="master-header-logo">
            <p class="master-head master-firstclasscoding-text"><b>FirstClassCoding</b></p>
        </div>

        <h1 class="login-header">Login Page</h1>

        <div class="login-box">
            <form action="" method="post">
                <div class="enter-login">

                    <label for="_email">Email</label>
                    <input type="text" name="user_email" id="_email" class="enter-data-login" value="<%= (locals.old_data) ? old_data.user_email : '' %>" placeholder="Email" required>

                    <label for="_pass">Password</label>
                    <input type="password" name="user_pass" id="_pass" class="enter-data-login" placeholder="Password">

                </div>

                <button type="submit" class="login-btn">Login</button>

                <p class="enter-login">Don't have account? <a href="/register">Register</a> Here!</p>

                <% if (locals.login_error) {
                    login_error.forEach(function(error_msg) { %>
                    <div class="alert-box"><%= error_msg %></div>
                <% })
                } %>

            </form>
        </div>

    </body>

</html>